:root {
  --background-color: #fff;
  --background-image: repeating-linear-gradient(
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a 100%);
  --theme-main-color: #000;
  --accent-button-color: #fff;
  --main-font: Inter;
  --accent-font: 'Press Start 2P';
  --main-font-normal-weight: 400;
  --main-font-bold-weight: 700;
  --accent-font-normal-weight: 400;
  --content-font-size: 18px;
  --button-font-size: 14px;
  --extra-line-height: 1.16667;
  /* --content-inline-size: min(
    100%,
    clamp(29.6875rem, 22.7655rem + 23.3161vw, 43.75rem)
  ); до 475 во весь экран, потом от 475 до 700 px при 1440 */
  --heart-contour: #000;
  --heart-active: #f00;
}
